# Database
DATABASE_URL=postgresql://admin:password@localhost:5432/smart_reimburse
SECRET_KEY=change_me_in_production_hackathon_key_12345

# Chat Model LLM
LLM_API_KEY=sk-secret_token
LLM_BASE_URL=https://api.ilmu.ai/v1

# Vision Model
OPENROUTER_API_KEY=sk-or-v1-secret_token
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1

# LangSmith (Observability)
LANGCHAIN_TRACING=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=secret_token
LANGCHAIN_PROJECT=um_hackathon


