# Database
POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_DB=smart_reimburse

DATABASE_URL=postgresql://admin:password@localhost:5432/smart_reimburse
SECRET_KEY=change_me_in_production_hackathon_key_12345

# Chat Model LLM
LLM_API_KEY=sk-secret_token
LLM_BASE_URL=https://api.ilmu.ai/v1
CHAT_MODEL=ilmu-glm-5.1

# Vision Model
OPENROUTER_API_KEY=sk-or-v1-secret_token
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
VISION_MODEL=qwen/qwen3.5-flash-02-23
EMBEDDING_MODEL=openai/text-embedding-3-small

# LangSmith (Observability)
LANGCHAIN_TRACING=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=secret_token
LANGCHAIN_PROJECT=um_hackathon

# Frontend
NODE_ENV=production
NEXT_PUBLIC_API_URL=http://localhost:8000
INTERNAL_API_URL=http://backend:8000

